# Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [6]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [7]:
chipo= pd.read_csv('chipotle.csv')

In [8]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [10]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [12]:
chipo.shape

(4622, 5)

In [13]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [14]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [16]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [17]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [19]:
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [20]:
chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items it was ordered?

In [27]:
chipo['quantity'][chipo['item_name']=='Chicken Bowl']

4       2
5       1
13      1
19      1
26      1
42      1
76      1
78      1
99      1
110     1
123     1
138     1
140     1
142     1
154     2
160     1
176     1
182     1
193     1
199     1
206     1
209     1
211     1
218     1
220     1
224     1
231     1
252     1
257     1
282     2
       ..
4443    1
4444    1
4465    1
4481    1
4483    1
4484    1
4486    1
4488    1
4495    1
4498    1
4506    1
4511    1
4532    1
4537    1
4540    1
4553    1
4555    1
4564    1
4574    1
4576    1
4581    1
4583    1
4586    1
4587    1
4589    1
4590    1
4591    1
4595    1
4599    1
4604    1
Name: quantity, Length: 726, dtype: int64

In [25]:
chipo['quantity'][chipo['item_name']=='Chicken Bowl'].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [30]:
chipo['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [31]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [37]:
def price_converter(x):
    #print(x)
    x= x.strip('$')
    #print(x)
    x=float(x)
   # print(x)
    return x

In [39]:
chipo['item_price']= chipo['item_price'].apply(price_converter)

In [40]:
chipo['item_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

### Step 14. How much was the revenue for the period in the dataset?

In [42]:
data['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [43]:
data['quantity'].sum()

4972

### Step 16. What is the average revenue amount per order?

In [44]:
revenue=data['item_price'].sum()

In [45]:
total_orders = data['order_id'].count()

In [46]:
revenue/total_orders

7.464335785374297

### Step 17. How many different items are sold?

In [47]:
data['item_name'].nunique()

50